# <center>PROYECTO INTELIGENCÍA ARTIFICIAL</center>
## <center>IMDB Dataset of 50K Movie Reviews</center>

### Intengrantes:

In [42]:
#Importación de librerías a utilizar
import numpy as np
import pandas as pd

In [43]:
#Lectura del dataset Imdb Reviews
data = pd.read_csv('IMDB Dataset.csv', sep=',', header=None)

In [44]:
#Imprimiendo el dataset
data.head()

                                                   0          1
0                                             review  sentiment
1  One of the other reviewers has mentioned that ...   positive
2  A wonderful little production. <br /><br />The...   positive
3  I thought this was a wonderful way to spend ti...   positive
4  Basically there's a family where a little boy ...   negative

In [48]:
#Renombrando enunciados
data[0][0] = 'crítica'
data[1][0] = 'opinión'
data.head()

                                                   0         1
0                                            crítica   opinión
1  One of the other reviewers has mentioned that ...  positive
2  A wonderful little production. <br /><br />The...  positive
3  I thought this was a wonderful way to spend ti...  positive
4  Basically there's a family where a little boy ...  negative